.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_slla{margin:0 0 0 0; overflow:hidden;}
.row_1ub1{padding:0 0 0 0;background-image:url('../../../../../image/catalog/banners/bg-deals.jpg');background-repeat:no-repeat; background-position:left top; background-attachment:scroll ; overflow:hidden;}

.row_e5y9{background-color:rgba(243,243,243,1); overflow:hidden;}

